{{- $envVars := include "proconnect-carte-agent.common.env" (list . .Values.app) -}}
{{- $fullName := include "proconnect-carte-agent.app.fullname" . -}}
{{- $component := "app" -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "proconnect-carte-agent.common.labels" (list . $component) | nindent 4 }}
  annotations:
    {{- toYaml $.Values.app.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.app.service.type }}
  ports:
  {{- range $port := .Values.app.service.ports }}
    - name: {{ $port.name }}
      port: {{ $port.port }}
      targetPort: {{ $port.targetPort  }}
  {{- end }}
  selector:
    {{- include "proconnect-carte-agent.common.selectorLabels" (list . $component) | nindent 4 }}
