image:
  repository: ghcr.io/proconnect-gouv/proconnect-carte-agent
  pullPolicy: Always
  tag: "latest"

app:
  replicas: 2
  envVars:
    BASE_URL: https://proconnect-carte-agent-staging.beta.numerique.gouv.fr
    LOG_LEVEL: DEBUG
