image:
  repository: localhost:5001/proconnect-carte-agent
  pullPolicy: Always
  tag: "latest"

app:
  replicas: 1
  envVars:
    BASE_URL: https://proconnect-carte-agent.127.0.0.1.nip.io
    LOG_LEVEL: debug
