image:
  repository: localhost:5001/proconnect-carte-agent
  pullPolicy: Always
  tag: "latest"

app:
  replicas: 1
  envVars:
    BASE_URL: https://proconnect-carte-agent.127.0.0.1.nip.io
    LOG_LEVEL: debug
    SERVER_CA:
      secretKeyRef:
        name: proconnect-carte-agent-ca
        key: "ca.crt"
    SERVER_CERT:
      secretKeyRef:
        name: proconnect-carte-agent-app-server-certificate
        key: "tls.crt"
    SERVER_KEY:
      secretKeyRef:
        name: proconnect-carte-agent-app-server-certificate
        key: "tls.key"

  hostPort: 443 # relies on an extraPortMapping in the KIND configuration
